In [1]:
import pandas as pd
#installing pandas

In [2]:
from pandas.io.json import json_normalize 
#normalizing the data

In [3]:
data = pd.read_csv ('/Users/Sandi/Desktop/Projects/Capstone_1/Data/Traffic_Violations.csv')
#reading the csv file into a normalized pandas dataframe

/Users/Sandi/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (19,20,21,22,23,24,25,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608515 entries, 0 to 1608514
Data columns (total 43 columns):
SeqID                      1608515 non-null object
Date Of Stop               1608515 non-null object
Time Of Stop               1608515 non-null object
Agency                     1608515 non-null object
SubAgency                  1608515 non-null object
Description                1608506 non-null object
Location                   1608513 non-null object
Latitude                   1608515 non-null float64
Longitude                  1608515 non-null float64
Accident                   1608515 non-null object
Belts                      1608515 non-null object
Personal Injury            1608515 non-null object
Property Damage            1608515 non-null object
Fatal                      1608515 non-null object
Commercial License         1608515 non-null object
HAZMAT                     1608515 non-null object
Commercial Vehicle         1608515 non-null object
Alcohol                    1608515 non-null object
Work Zone                  1608515 non-null object
Search Conducted           997947 non-null object
Search Disposition         70274 non-null object
Search Outcome             978777 non-null object
Search Reason              70274 non-null object
Search Reason For Stop     997773 non-null object
Search Type                70266 non-null object
Search Arrest Reason       47766 non-null object
State                      1608456 non-null object
VehicleType                1608515 non-null object
Year                       1598721 non-null float64
Make                       1608450 non-null object
Model                      1608311 non-null object
Color                      1589603 non-null object
Violation Type             1608515 non-null object
Charge                     1608515 non-null object
Article                    1530569 non-null object
Contributed To Accident    1608515 non-null bool
Race                       1608515 non-null object
Gender                     1608515 non-null object
Driver City                1608126 non-null object
Driver State               1608504 non-null object
DL State                   1607586 non-null object
Arrest Type                1608515 non-null object
Geolocation                1608515 non-null object
dtypes: bool(1), float64(3), object(39)
memory usage: 517.0+ MB

In [4]:
color = data.Color.unique()
color
##identify all colors of vehicles listed in the 'Color' column  
##shows there is nan color category which I will remove in a later step

array(['BLACK', 'WHITE', 'SILVER', 'GRAY', 'RED', 'GREEN', 'BLUE',
       'GREEN, DK', 'BEIGE', 'YELLOW', 'MAROON', nan, 'BROWN',
       'BLUE, LIGHT', 'TAN', 'GOLD', 'BLUE, DARK', 'BRONZE', 'ORANGE',
       'GREEN, LGT', 'COPPER', 'MULTICOLOR', 'PURPLE', 'CREAM', 'PINK',
       'CAMOUFLAGE', 'CHROME'], dtype=object)

In [5]:
data.VehicleType.value_counts()
##identify all types of vehicles listed in the 'Vehicle Type' and the count for each
##choose to use "02 Automobile" which has over a million vehicles

02 - Automobile              1418573
05 - Light Duty Truck          85828
28 - Other                     28644
03 - Station Wagon             23981
01 - Motorcycle                14426
06 - Heavy Duty Truck          13824
29 - Unknown                   10229
08 - Recreational Vehicle       5083
25 - Utility Trailer            1666
19 - Moped                      1601
07 - Truck/Road Tractor         1482
04 - Limousine                   876
20 - Commercial Rig              832
10 - Transit Bus                 527
12 - School Bus                  304
27 - Farm Equipment              131
09 - Farm Vehicle                107
26 - Boat Trailer                101
21 - Tandem Trailer               84
11 - Cross Country Bus            59
23 - Travel/Home Trailer          31
22 - Mobile Home                  26
24 - Camper                       19
14 - Ambulance(Non-Emerg)         18
18 - Police(Non-Emerg)            17
13 - Ambulance(Emerg)             14
15 - Fire(Emerg)                  13
17 - Police(Emerg)                 5
18 - Police Vehicle                4
16 - Fire(Non-Emerg)               4
15 - Fire Vehicle                  3
14 - Ambulance                     2
13 - Ambulance                     1
Name: VehicleType, dtype: int64

In [6]:
only_automobiles_color= data.loc[(data['VehicleType'] == '02 - Automobile')
                                 , ['Color', 'VehicleType']]
#create a dataframe of only automobiles and their colors.

In [7]:
only_automobiles_color_nonull= only_automobiles_color.dropna(axis = 0, subset = ['Color'])
#drop nulls from only autos, where the color category is nan.
#elimating those rows that have missing values in their color column.

In [8]:
only_automobiles_color_nonull.Color.unique()
#now the set of automobiles does not contain the null values.

array(['BLACK', 'WHITE', 'SILVER', 'GRAY', 'RED', 'GREEN', 'BLUE',
       'GREEN, DK', 'BEIGE', 'YELLOW', 'MAROON', 'BROWN', 'BLUE, LIGHT',
       'TAN', 'GOLD', 'BLUE, DARK', 'BRONZE', 'ORANGE', 'GREEN, LGT',
       'COPPER', 'PURPLE', 'CREAM', 'MULTICOLOR', 'PINK', 'CHROME',
       'CAMOUFLAGE'], dtype=object)

In [21]:
only_automobiles_color_nonull.Color.value_counts()
#count total number of automobiles in each color.

BLACK          297696
SILVER         272912
WHITE          201279
GRAY           167253
RED            110668
BLUE           105321
GREEN           50301
GOLD            44926
BLUE, DARK      29862
TAN             29189
MAROON          23336
BLUE, LIGHT     18533
BEIGE           16541
GREEN, DK       14210
GREEN, LGT       7745
BROWN            6175
ORANGE           4978
YELLOW           4189
BRONZE           3138
PURPLE           2659
CREAM             836
MULTICOLOR        506
COPPER            420
PINK              190
CHROME             40
CAMOUFLAGE         25
Name: Color, dtype: int64

In [10]:
#group the outliers into one category, 'Other'. 
#(cream, multicolor, copper, pink, chrome, camouflage)

In [23]:
final_color_accident = data.loc[(data['VehicleType'] == '02 - Automobile') & (data['Accident'] == 'Yes'), ['Color', 'VehicleType', 'Accident']]
##final set of colors, automobiles, that were in an accident

In [24]:
final_color_accident.head(5)

     Color      VehicleType Accident
23  SILVER  02 - Automobile      Yes
42   GREEN  02 - Automobile      Yes
59    GRAY  02 - Automobile      Yes
61  YELLOW  02 - Automobile      Yes
77   WHITE  02 - Automobile      Yes

In [27]:
final_color_no_accident = data.loc[(data['VehicleType'] == '02 - Automobile') & (data['Accident'] == 'No'), ['Color', 'VehicleType', 'Accident']]
##final set of colors, automobiles, that were NOT in an accident

In [29]:
final_color_no_accident.head(5)

   Color      VehicleType Accident
0  BLACK  02 - Automobile       No
1  BLACK  02 - Automobile       No
3  WHITE  02 - Automobile       No
4  BLACK  02 - Automobile       No
5  WHITE  02 - Automobile       No

In [31]:
final_color_accident_no_null = final_color_accident.dropna(axis = 0, subset = ['Color'])
##drop any rows with a nan value for color

In [32]:
final_color_no_accident_no_null = final_color_no_accident.dropna(axis = 0, subset = ['Color'])
##drop any rows with a nan value for color

In [33]:
final_color_accident_no_null.Color.value_counts()
#final count on number of automobiles of each color in accidents.

BLACK          6574
SILVER         6310
WHITE          4817
GRAY           4082
RED            2783
BLUE           2621
GREEN          1375
GOLD           1080
TAN             793
BLUE, DARK      789
MAROON          694
BLUE, LIGHT     438
GREEN, DK       421
BEIGE           413
GREEN, LGT      225
BROWN           174
ORANGE          121
YELLOW           87
BRONZE           81
PURPLE           74
MULTICOLOR       40
CREAM            20
COPPER            4
CHROME            1
Name: Color, dtype: int64

In [34]:
final_color_no_accident_no_null.Color.value_counts()
#final count on number of automobiles of each color not in accidents.

BLACK          291122
SILVER         266602
WHITE          196462
GRAY           163171
RED            107885
BLUE           102700
GREEN           48926
GOLD            43846
BLUE, DARK      29073
TAN             28396
MAROON          22642
BLUE, LIGHT     18095
BEIGE           16128
GREEN, DK       13789
GREEN, LGT       7520
BROWN            6001
ORANGE           4857
YELLOW           4102
BRONZE           3057
PURPLE           2585
CREAM             816
MULTICOLOR        466
COPPER            416
PINK              190
CHROME             39
CAMOUFLAGE         25
Name: Color, dtype: int64